In [1]:
import mysql.connector  as connection
import pandas as pd
import numpy as np
import datetime as dt
import os

In [2]:
files_dir = 'C:/Users/User/Desktop/Moje dokumenty/Raporty obce/Kacper/63_issue_158946_payments/'
curr_dir = 'C:/Users/User/Desktop/Moje dokumenty/Raporty obce/Kacper/Curr_rate/'
save_directory = 'C:/Users/User/Desktop/Moje dokumenty/Raporty obce/Kacper/63_issue_158946_payments/python'

In [3]:
# Adding existing files
DIM_auftrag_temp = pd.read_csv(files_dir + 'all_fact_table.csv' )
shiping_join_fact_table_v2 = pd.read_csv(files_dir + 'shiping_join_fact_table.csv')
payments_2019_2022_Sylwia_temp_all = pd.read_csv(files_dir + 'all_union.csv')

# Values from swiss website. Need to run 'Curr_rate' script to refresh.
# This part probably has to be changed to get values from DB
Curr_rate_website = pd.read_csv(curr_dir + 'Curr_rate_website_all.csv')
Curr_rate = pd.read_csv(curr_dir + 'Curr_rate.csv')


print('CSV files are loaded')

GL_values_c = pd.read_excel(files_dir + 'Refreshed on 07_04_2023/Beliani_DE_3_10_2022_TOTAL_solo_v5.xlsx', sheet_name='To_R')

print('xlsx files are loaded')

C:\Users\User\AppData\Local\Temp\ipykernel_11528\4869729.py:4: DtypeWarning: Columns (2,18) have mixed types. Specify dtype option on import or set low_memory=False.
  payments_2019_2022_Sylwia_temp_all = pd.read_csv(files_dir + 'all_union.csv')

CSV files are loaded
xlsx files are loaded

In [41]:
# Run MySQL query to fetch auftrags. To refresh data, keep in mind to set correct dates in MySQL query
# Putty must be running while running the script
with open(files_dir + 'db_credentials.txt', 'r') as f:
    db_credentials = f.read().splitlines()

try:
    db_connections = connection.connect(
        host=db_credentials[0],
        user=db_credentials[1],
        password=db_credentials[2],
        database=db_credentials[3]
    )
    # loading auftrags
    print("loading Auftrag_2022_refresh ...")
    dim_auftrag = open(files_dir + 'Dim_auftrag.sql')
    dim_auftrag_query = dim_auftrag.read()
    Auftrag_2022_refresh = pd.read_sql(dim_auftrag_query,db_connections)
    print('Auftrag_2022_refresh is ready')

    # close the connection
    db_connections.close()  
    print('All MySQL queries are loaded and db_connections is closed ')
except Exception as e:
    db_connections.close()
    print(str(e))

loading Auftrag_2022_refresh ...

C:\Users\User\AppData\Local\Temp\ipykernel_11528\169519657.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Auftrag_2022_refresh = pd.read_sql(dim_auftrag_query,db_connections)

Auftrag_2022_refresh is ready
All MySQL queries are loaded and db_connections is closed

In [42]:
# Run MySQL query to fetch auftrags. To refresh data, keep in mind to set correct dates in MySQL query
# Putty must be running while running the script
with open(files_dir + 'db_credentials.txt', 'r') as f:
    db_credentials = f.read().splitlines()

try:
    db_connections = connection.connect(
        host=db_credentials[0],
        user=db_credentials[1],
        password=db_credentials[2],
        database=db_credentials[3]
    )
        # loading shippings
    print("loading shipping_2022_refresh ...")
    shipping_issue_158946 = open(files_dir + 'shipping_issue_158946.sql')
    shipping_issue_158946_query = shipping_issue_158946.read()
    shipping_2022_refresh = pd.read_sql(shipping_issue_158946_query,db_connections)
    print('shipping_2022_refresh is ready')

    # close the connection
    db_connections.close()  
    print('All MySQL queries are loaded and db_connections is closed ')
except Exception as e:
    db_connections.close()
    print(str(e))

loading shipping_2022_refresh ...

C:\Users\User\AppData\Local\Temp\ipykernel_11528\1679401437.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  shipping_2022_refresh = pd.read_sql(shipping_issue_158946_query,db_connections)

shipping_2022_refresh is ready
All MySQL queries are loaded and db_connections is closed

In [43]:
# Run MySQL query to fetch auftrags. To refresh data, keep in mind to set correct dates in MySQL query
# Putty must be running while running the script
with open(files_dir + 'db_credentials.txt', 'r') as f:
    db_credentials = f.read().splitlines()

try:
    db_connections = connection.connect(
        host=db_credentials[0],
        user=db_credentials[1],
        password=db_credentials[2],
        database=db_credentials[3]
    )
        # loading tickets
    print("loading ticket_payment_2022_refresh ...")
    ticket_payment_union = open(files_dir + 'Ticket_payment_union.sql')
    ticket_payment_union_query = ticket_payment_union.read()
    ticket_payment_2022_refresh = pd.read_sql(ticket_payment_union_query,db_connections)
    print('ticket_payment_2022_refresh is ready')

    # close the connection
    db_connections.close()  
    print('All MySQL queries are loaded and db_connections is closed ')
except Exception as e:
    db_connections.close()
    print(str(e))

loading ticket_payment_2022_refresh ...

C:\Users\User\AppData\Local\Temp\ipykernel_11528\3803323859.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ticket_payment_2022_refresh = pd.read_sql(ticket_payment_union_query,db_connections)

ticket_payment_2022_refresh is ready
All MySQL queries are loaded and db_connections is closed

In [44]:
# Run MySQL query to fetch auftrags. To refresh data, keep in mind to set correct dates in MySQL query
# Putty must be running while running the script
with open(files_dir + 'db_credentials.txt', 'r') as f:
    db_credentials = f.read().splitlines()

try:
    db_connections = connection.connect(
        host=db_credentials[0],
        user=db_credentials[1],
        password=db_credentials[2],
        database=db_credentials[3]
    )   
     # loading cost
    print("loading cost_2022_refresh ...")
    cost_issue_158946 = open(files_dir + 'cost_issue_158946.sql')
    cost_issue_158946_query = cost_issue_158946.read()
    cost_2022_refresh = pd.read_sql(cost_issue_158946_query,db_connections)
    print('cost_2022_refresh is ready')

    # close the connection
    db_connections.close()  
    print('All MySQL queries are loaded and db_connections is closed ')
except Exception as e:
    db_connections.close()
    print(str(e))

loading cost_2022_refresh ...

C:\Users\User\AppData\Local\Temp\ipykernel_11528\2990463464.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  cost_2022_refresh = pd.read_sql(cost_issue_158946_query,db_connections)

cost_2022_refresh is ready
All MySQL queries are loaded and db_connections is closed

In [45]:
cost_2022_refresh.to_csv(save_directory + '/cost_2023_refresh.csv', index=False, encoding='utf-8')
ticket_payment_2022_refresh.to_csv(save_directory + '/ticket_payment_2023_refresh.csv', index=False, encoding='utf-8')
shipping_2022_refresh.to_csv(save_directory + '/shipping_2023_refresh.csv', index=False, encoding='utf-8')
Auftrag_2022_refresh.to_csv(save_directory + '/Auftrag_2023_refresh.csv', index=False, encoding='utf-8')

In [8]:
# Calculate the number of duplicate Order_IDs
num_duplicates = sum(cost_2022_refresh.duplicated(subset='Order_ID'))

In [9]:
# Subset the rows with duplicated Order_IDs
duplicated_rows = cost_2022_refresh[cost_2022_refresh.duplicated(subset='Order_ID')]

In [10]:

# Keep the row with the earliest Shipped_date for each unique Order_ID
cost_2022_refresh = cost_2022_refresh.groupby('Order_ID').filter(lambda x: x['Shipped_date'].eq(x['Shipped_date'].min()).any()).drop_duplicates(subset='Order_ID', keep='first')

In [11]:
# Perform a left join on the cost_2022_refresh and shipping_2022_refresh DataFrames
shiping_join = cost_2022_refresh.merge(shipping_2022_refresh.drop('Shipped_date', axis=1), 
                                       how='left', 
                                       left_on=['MAU_Main_Auction', 'Order_ID', 'Article_ID', 'Main Auction'], 
                                       right_on=['MAU Main Auction', 'Order_id', 'Article_ID', 'Main Auction'])

In [12]:
# Create CHF to EUR table

Curr_rate_web_eur = Curr_rate_website.loc[Curr_rate_website['Currency'] == 'EUR']
Curr_rate_web_eur = Curr_rate_web_eur.drop(['Quantity', 'Currency'], axis=1)
Curr_rate_web_eur = Curr_rate_web_eur.rename(columns={'Exchange': 'Exchange_EUR'})

In [13]:
# Cleaning Auftrag_2022_refresh variable

Auftrag_2022_refresh['Auftrag_create_date'] = pd.to_datetime(Auftrag_2022_refresh['Auftrag_create_date'])
Auftrag_2022_refresh['Invoice_date'] = pd.to_datetime(Auftrag_2022_refresh['Invoice_date'])

Auftrag_2022_refresh['Company'] = np.select(
    [
        Auftrag_2022_refresh['Seller'] == 'Beliani PL',
        Auftrag_2022_refresh['Seller'].isin(['BCE', 'Beliani (International) GmbH']),
        Auftrag_2022_refresh['Seller'].isin(['Beliani UK', 'Design_UK']),
        Auftrag_2022_refresh['Seller'].isin(['Beliani', 'ayohama', 'Ricardo', 'CH: Express24', 'Allegro Broken PL']),
        Auftrag_2022_refresh['Seller'] == 'Artehome'
    ],
    [
        'Beliani PL',
        'Broken items',
        'Beliani UK',
        'Beliani CH',
        'Schoenteakmoebel'
    ],
    default='Beliani DE'
)

Auftrag_2022_refresh['Currency'] = np.select(
    [
        Auftrag_2022_refresh['Sellers country'] == 'DK',
        Auftrag_2022_refresh['Sellers country'] == 'HU',
        Auftrag_2022_refresh['Sellers country'] == 'NO',
        Auftrag_2022_refresh['Sellers country'] == 'SE',
        Auftrag_2022_refresh['Sellers country'] == 'PL',
        Auftrag_2022_refresh['Sellers country'] == 'GB',
        Auftrag_2022_refresh['Sellers country'] == 'CH',
        Auftrag_2022_refresh['Sellers country'] == 'CZ',
        Auftrag_2022_refresh['Sellers country'] == 'PB'
    ],
    [
        'DKK',
        'HUF',
        'NOK',
        'SEK',
        'PLN',
        'GBP',
        'CHF',
        'CZK',
        'PLN'
    ],
    default='EUR'
)

Auftrag_2022_refresh['Auftrag_link'] = 'https://www.prologistics.info/auction.php?number=' + Auftrag_2022_refresh['Auction number'].astype(str) + '&txnid=' + Auftrag_2022_refresh['Txnid'].astype(str)

Auftrag_2022_refresh = Auftrag_2022_refresh.dropna(subset=['open_amount'])

Curr_rate_website = Curr_rate_website.loc[(Curr_rate_website['Year'] == Curr_rate_website['Year'].max()) & (Curr_rate_website['Month'] == Curr_rate_website['Month'].max()), :]
Auftrag_2022_refresh = pd.merge(Auftrag_2022_refresh, Curr_rate_website, on='Currency', how='left')

Auftrag_2022_refresh['open_amount_CHF'] = np.where(Auftrag_2022_refresh['Currency'] == 'CHF',
                                                  Auftrag_2022_refresh['open_amount'],
                                                  Auftrag_2022_refresh['open_amount'] / Auftrag_2022_refresh['Quantity'] * Auftrag_2022_refresh['Exchange'])

Auftrag_2022_refresh['open_amount_CHF_netto'] = np.where(Auftrag_2022_refresh['Currency'] == 'CHF',
                                                         Auftrag_2022_refresh['Open_amount_netto'],
                                                         Auftrag_2022_refresh['Open_amount_netto'] / Auftrag_2022_refresh['Quantity'] * Auftrag_2022_refresh['Exchange'])

In [14]:
# Get latest shipping date for each auction in the shiping_join data frame

Shiping_max_date = shiping_join[['MAU_Main_Auction', 'Shipped_date']].groupby('MAU_Main_Auction').max()

In [15]:
# Delete from the data frame subauftrags which has been deleted

Shiping_sub_deleted = shiping_join.loc[:, ['MAU_Main_Auction', 'Main Auction', 'Order_not_sent', 'Auftrag_deleted']]
Shiping_sub_deleted = Shiping_sub_deleted[Shiping_sub_deleted['Main Auction'] != Shiping_sub_deleted['MAU_Main_Auction']]
Shiping_sub_deleted = Shiping_sub_deleted[Shiping_sub_deleted['Auftrag_deleted'] == 1]
Shiping_sub_deleted = Shiping_sub_deleted.drop(columns=['Auftrag_deleted'])

In [16]:
# Sum Order_not_sent for MAU_Main_Auction

Shiping_sum_orders_not_sent = (
    shiping_join[['MAU_Main_Auction', 'Order_not_sent']]
    .merge(
        Shiping_sub_deleted[['MAU_Main_Auction']],
        on='MAU_Main_Auction',
        how='left',
        indicator=True
    )
    .query("_merge == 'left_only'")
    .groupby('MAU_Main_Auction')
    .agg({'Order_not_sent': 'sum'})
    .reset_index()
)

In [17]:
# Join above to Auftrag_2022_refresh

Auftrag_2022_refresh = pd.merge(Auftrag_2022_refresh, Shiping_max_date, left_on='MAU_Main auction', right_on='MAU_Main_Auction', how='left')

Auftrag_2022_refresh = pd.merge(Auftrag_2022_refresh, Shiping_sum_orders_not_sent, left_on='MAU_Main auction', right_on='MAU_Main_Auction', how='left')

Auftrag_2022_refresh['Shipped_date'] = pd.to_datetime(Auftrag_2022_refresh['Shipped_date'])

Auftrag_2022_refresh['Order_not_sent'] = pd.to_numeric(Auftrag_2022_refresh['Order_not_sent'])
Auftrag_2022_refresh['Order_not_sent'] = Auftrag_2022_refresh.apply(lambda row: 1 if pd.isna(row['Order_not_sent']) and row['deleted'] == 1 else row['Order_not_sent'], axis=1)

Auftrag_2022_refresh = Auftrag_2022_refresh.dropna(subset=['Order_not_sent'])

Auftrag_2022_refresh = Auftrag_2022_refresh.drop_duplicates()

In [18]:
# Remove deleted auftrags without payment 

DIM_auftrag_deleted_keep = Auftrag_2022_refresh[
    (Auftrag_2022_refresh['deleted'] == 1) & 
    (Auftrag_2022_refresh['MAU_Main auction'].isin(ticket_payment_2022_refresh['Main auction']))
]
Auftrag_2022_refresh = pd.concat([Auftrag_2022_refresh[Auftrag_2022_refresh['deleted'] == 0], DIM_auftrag_deleted_keep])

In [19]:
DIM_auftrag_deleted_subs = Auftrag_2022_refresh[(Auftrag_2022_refresh['deleted'] == 1) & (Auftrag_2022_refresh['MAU_Main auction'] != Auftrag_2022_refresh['Main auction'])]
Auftrag_2022_refresh = Auftrag_2022_refresh[~Auftrag_2022_refresh.isin(DIM_auftrag_deleted_subs)].dropna(how = 'all')
DIM_auftrag_temp_to_move = Auftrag_2022_refresh[Auftrag_2022_refresh['deleted'] == 1]

In [20]:
# Deleted as not sent - because in theory they are not sent even if are stored as sent


Auftrag_2022_refresh['Order_not_sent'] = Auftrag_2022_refresh.apply(lambda x: 1 if x['Main auction'] in DIM_auftrag_temp_to_move['Main auction'].values else x['Order_not_sent'], axis=1)

Auftrag_2022_refresh['open_amount'] = Auftrag_2022_refresh.apply(lambda x: 0 if x['Main auction'] in DIM_auftrag_temp_to_move['Main auction'].values else x['open_amount'], axis=1)

In [21]:
# Filter out current and last year.Earlier years should be a constatnt so we do not need to fetch it. 

current_year = dt.datetime.now().year

Auftrag_2022_refresh = Auftrag_2022_refresh.drop_duplicates(subset='Main auction', keep='first')

Auftrag_2022_refresh = Auftrag_2022_refresh[pd.DatetimeIndex(Auftrag_2022_refresh['Auftrag_create_date']).year >= (current_year - 1)]

In [22]:
# Creating All_auftrag variable
All_auftrag = pd.merge(DIM_auftrag_temp, Auftrag_2022_refresh[['Main auction']], on='Main auction', how='outer', indicator=True)
All_auftrag = All_auftrag[All_auftrag['_merge'] == 'left_only'].drop('_merge', axis=1)

In [23]:
# Change column type 

All_auftrag['Invoice_date'] = pd.to_datetime(All_auftrag['Invoice_date'])
All_auftrag['Auftrag_create_date'] = pd.to_datetime(All_auftrag['Auftrag_create_date'])
All_auftrag['Shipped_date'] = pd.to_datetime(All_auftrag['Shipped_date'])

All_auftrag = pd.concat([All_auftrag, Auftrag_2022_refresh], ignore_index=True)

In [24]:
# Checking for duplicates. At this point total number of 'Main auction' duplicates should equal 0

duplicate_check = sum(All_auftrag.duplicated(['Main auction']))
print('Total number of Main auction duplicates equals:', duplicate_check)

Total number of Main auction duplicates equals: 0

In [25]:
# Cleaning ticket_payment_2022_refresh variable

ticket_payment_2022_refresh['Year'] = pd.DatetimeIndex(ticket_payment_2022_refresh['Transaction_Date']).year
ticket_payment_2022_refresh['Month'] = pd.DatetimeIndex(ticket_payment_2022_refresh['Transaction_Date']).month
ticket_payment_2022_refresh['Company'] = ticket_payment_2022_refresh['Seller'].replace({
    "Beliani PL": "Beliani PL",
    "BCE": "Broken items",
    "Beliani (International) GmbH": "Broken items",
    "Beliani UK": "Beliani UK",
    "Design_UK": "Beliani UK",
    "Beliani": "Beliani CH",
    "ayohama": "Beliani CH",
    "Ricardo": "Beliani CH",
    "CH: Express24": "Beliani CH",
    "Allegro Broken PL": "Beliani CH",
    "Artehome": "Schoenteakmoebel",
        }).fillna("Beliani DE")
ticket_payment_2022_refresh['Currency'] = ticket_payment_2022_refresh['Sellers country'].replace({
    "DK" : "DKK",
    "HU" : "HUF",
    "NO" : "NOK",
    "SE" : "SEK",
    "PL" : "PLN",
    "GB" : "GBP",
    "CH" : "CHF",
    "CZ" : "CZK",
    "PB" : "PLN",
        }).fillna("EUR")

ticket_payment_2022_refresh = pd.merge(ticket_payment_2022_refresh, Curr_rate_website, on=["Currency", "Month", "Year"], how="left")
ticket_payment_2022_refresh["Amount_netto(CHF)"] = np.where(ticket_payment_2022_refresh["Currency"] == 'CHF', ticket_payment_2022_refresh["Amount_Netto(local)"], ticket_payment_2022_refresh["Amount_Netto(local)"] / ticket_payment_2022_refresh["Quantity"] * ticket_payment_2022_refresh["Exchange"])
ticket_payment_2022_refresh = pd.merge(ticket_payment_2022_refresh, Curr_rate_web_eur, on=["Month", "Year"], how="left")
ticket_payment_2022_refresh["Amount_netto(EUR)"] = np.where(ticket_payment_2022_refresh["Currency"] == 'EUR', ticket_payment_2022_refresh["Amount_Netto(local)"], ticket_payment_2022_refresh["Amount_netto(CHF)"] * ticket_payment_2022_refresh["Exchange_EUR"])
ticket_payment_2022_refresh["Ticket_link"] = np.where(ticket_payment_2022_refresh["Refund?[0-no,1-del_auf,2-ticket]"] == 2, "https://www.prologistics.info/rma.php?rma_id=" + ticket_payment_2022_refresh["Payment_id/Ticket_id"].astype(str) + "&number=" + ticket_payment_2022_refresh["Auction number"].astype(str) + "&txnid=" + ticket_payment_2022_refresh["Txnid"].astype(str), '')
ticket_payment_2022_refresh = ticket_payment_2022_refresh.drop(["Quantity", "Exchange", "Exchange_EUR"], axis=1)
ticket_payment_2022_refresh = pd.merge(ticket_payment_2022_refresh, Shiping_max_date, left_on="Main auction", right_on="MAU_Main_Auction", how="left")
ticket_payment_2022_refresh["Create_date"] = pd.to_datetime(ticket_payment_2022_refresh["Create_date"])
ticket_payment_2022_refresh["Shipped_date"] = pd.to_datetime(ticket_payment_2022_refresh["Shipped_date"])
ticket_payment_2022_refresh["Ship_create_date"] = np.where(ticket_payment_2022_refresh["Shipped_date"].isna(), ticket_payment_2022_refresh["Create_date"], ticket_payment_2022_refresh["Shipped_date"])
ticket_payment_2022_refresh["Transaction_Date"] = pd.to_datetime(ticket_payment_2022_refresh["Transaction_Date"])
ticket_payment_2022_refresh["Amount_netto(CHF)_web"] = ticket_payment_2022_refresh["Amount_netto(CHF)"]
ticket_payment_2022_refresh["in_GL"] = 0
ticket_payment_2022_refresh = ticket_payment_2022_refresh.drop_duplicates()

# Drop not needed columns 
ticket_payment_2022_refresh = ticket_payment_2022_refresh.drop(columns=['Auction number', 'Txnid', 'Seller', 'Sellers country', 'Customer ID', 'Company', 'Currency'])
ticket_payment_2022_refresh['Account'] = ticket_payment_2022_refresh['Account'].astype(str)
ticket_payment_2022_refresh = ticket_payment_2022_refresh[ticket_payment_2022_refresh['Transaction_Date'].dt.year >= (pd.Timestamp.now().year - 1)]

In [26]:
# payments_2019_2022_Sylwia_temp_all transformation

payments_2019_2022_Sylwia_temp_all = payments_2019_2022_Sylwia_temp_all.loc[payments_2019_2022_Sylwia_temp_all['Transaction_Date'] < '2022-01-01']
payments_2019_2022_Sylwia_temp_all['Create_date'] = pd.to_datetime(payments_2019_2022_Sylwia_temp_all['Create_date'])
payments_2019_2022_Sylwia_temp_all['Transaction_Date'] = pd.to_datetime(payments_2019_2022_Sylwia_temp_all['Transaction_Date'])
payments_2019_2022_Sylwia_temp_all['Shipped_date'] = pd.to_datetime(payments_2019_2022_Sylwia_temp_all['Shipped_date'])
payments_2019_2022_Sylwia_temp_all['Ship_create_date'] = pd.to_datetime(payments_2019_2022_Sylwia_temp_all['Ship_create_date'])

In [27]:
# Creating All_ticket_payment

All_ticket_payment = payments_2019_2022_Sylwia_temp_all.loc[payments_2019_2022_Sylwia_temp_all['Main auction'].isin(DIM_auftrag_temp['MAU_Main auction'])]
All_ticket_payment = All_ticket_payment.loc[All_ticket_payment['Year'] <= (pd.Timestamp.now().year-2)]
All_ticket_payment = pd.concat([All_ticket_payment, ticket_payment_2022_refresh], ignore_index=True)
All_ticket_payment = All_ticket_payment.loc[All_ticket_payment['Main auction'].isin(All_auftrag['MAU_Main auction'])].drop_duplicates()
All_ticket_payment['Payment_id/Ticket_id'] = All_ticket_payment['Payment_id/Ticket_id'].astype(str)

In [28]:
# Create a new column for Year and Month using Pandas and datetime module
Curr_rate['date'] = pd.to_datetime(Curr_rate['date'])
Curr_rate['Year'] = Curr_rate['date'].dt.year
Curr_rate['Month'] = Curr_rate['date'].dt.month

# Select required columns and remove duplicates
Curr_rate_EUR = Curr_rate[['currency', 'Average_month_EUR', 'Month', 'Year']].drop_duplicates()

In [ ]:
# OD TEGO MOMENTU JEST TRANSFORMACJA Z R

In [36]:
shiping_join_fact_table_v2 = pd.read_csv(files_dir + 'shiping_join_fact_table.csv')

In [112]:
GL_values_c.dtypes

Row.Labels                   int64
Ratio CHF                  float64
STEUERFREIE_EXP_Formula     object
STEUERFREIE OR EXPORT       object
Unnamed: 4                 float64
STE OR EXPORT              float64
Unnamed: 6                 float64
dtype: object

In [128]:
shiping_join_fact_table_v2x.dtypes

Main Auction                                object
MAU_Main_Auction                            object
Auftrag_deleted                              int64
Order_ID                                     int64
Article_ID                                   int64
EfectiveShippingCost(local)                float64
PurchasePrice(local)                       float64
Sell_price_netto(local)_V2_order           float64
Sell_price_netto(local)                    float64
Shipped_date                        datetime64[ns]
Order_not_sent                               int64
shipping_Company                            object
MAU Main Auction                            object
Order_id                                   float64
Container_number                            object
Shipping_line                               object
shipping_company_name                       object
Shipping_company                            object
Main auction                                object
Currency                                    object
Auftrag_create_date                 datetime64[ns]
Year                                       float64
Month                                      float64
Quantity                                   float64
Exchange                                   float64
Row.Labels_x                                object
Ratio CHF_x                                float64
STEUERFREIE_EXP_Formula_x                   object
STEUERFREIE OR EXPORT_x                     object
Unnamed: 4_x                               float64
STE OR EXPORT_x                            float64
Unnamed: 6_x                               float64
Row.Labels_y                                object
Ratio CHF_y                                float64
STEUERFREIE_EXP_Formula_y                   object
STEUERFREIE OR EXPORT_y                     object
Unnamed: 4_y                               float64
STE OR EXPORT_y                            float64
Unnamed: 6_y                               float64
Row.Labels                                  object
Ratio CHF                                  float64
STEUERFREIE_EXP_Formula                     object
STEUERFREIE OR EXPORT                       object
Unnamed: 4                                 float64
STE OR EXPORT                              float64
Unnamed: 6                                 float64
in_GL                                        int32
currency                                    object
Average_month_EUR                          float64
Inbound(EUR)                               float64
Outbound(EUR)                              float64
Sell_price_netto(EUR)                      float64
Inbound(CHF)                               float64
Outbound(CHF)                              float64
Sell_price_netto(CHF)                      float64
Ship_create_date                    datetime64[ns]
dtype: object

In [30]:
shiping_join_fact_table_v2x = pd.concat([        shiping_join.loc[shiping_join['Main Auction'].isin(Auftrag_2022_refresh['Main auction']) |
                         shiping_join['MAU_Main_Auction'].isin(Auftrag_2022_refresh['Main auction'])].copy(),
        Auftrag_2022_refresh[['Main auction', 'Currency', 'Auftrag_create_date']]
    ], axis=1, join='inner')

In [31]:
shiping_join_fact_table_v2x = shiping_join_fact_table_v2x.assign(MAU_Main_Auction=lambda x: np.where(x['MAU_Main_Auction'].str.len() > 15, x['Main Auction'], x['MAU_Main_Auction']))

In [105]:
shiping_join_fact_table_v2x = shiping_join_fact_table_v2x.merge(
    Auftrag_2022_refresh[['Main auction', 'Currency', 'Auftrag_create_date']]
        .astype({'Main auction': 'object'}),
    left_on='MAU_Main_Auction',
    right_on='Main auction',
    how='left',
    suffixes=('', '_drop')
).filter(regex='^(?!.*_drop)')

In [32]:
shiping_join_fact_table_v2x = shiping_join_fact_table_v2x.assign(Year=lambda x: x['Shipped_date'].dt.year, Month=lambda x: x['Shipped_date'].dt.month)

In [33]:
shiping_join_fact_table_v2x = shiping_join_fact_table_v2x.merge(Curr_rate_website, on=['Currency', 'Month', 'Year'], how='left')

In [34]:

shiping_join_fact_table_v2x = shiping_join_fact_table_v2x.merge(
    GL_values_c.astype({'Row.Labels' : 'object'})
    , left_on='MAU_Main_Auction'
    , right_on='Row.Labels'
    , how='left'
    , suffixes=('', '_drop')
).filter(regex='^(?!.*_drop)')

In [35]:
shiping_join_fact_table_v2x = shiping_join_fact_table_v2x.assign(in_GL=lambda x: np.where(x['MAU_Main_Auction'].isin(x['Row.Labels']), 1, 0))

In [36]:
shiping_join_fact_table_v2x = shiping_join_fact_table_v2x.merge(Curr_rate_EUR, left_on=['Currency', 'Month', 'Year'], right_on=['currency', 'Month', 'Year'], how='left')

In [37]:
shiping_join_fact_table_v2x = shiping_join_fact_table_v2x.assign(**{'Inbound(EUR)': lambda x: x['PurchasePrice(local)'] * x['Average_month_EUR'],
               'Outbound(EUR)': lambda x: x['EfectiveShippingCost(local)'] * x['Average_month_EUR'],
               'Sell_price_netto(EUR)': lambda x: x['Sell_price_netto(local)'] * x['Average_month_EUR'],
               'Inbound(CHF)': lambda x: np.where(x['Currency'] == 'CHF', x['PurchasePrice(local)'],
                                                 np.where(x['in_GL'] == 1, x['Inbound(EUR)'] * x['Ratio CHF'], x['PurchasePrice(local)'] / x['Quantity'] * x['Exchange'])),
               'Outbound(CHF)': lambda x: np.where(x['Currency'] == 'CHF', x['EfectiveShippingCost(local)'],
                                                  np.where(x['in_GL'] == 1, x['Outbound(EUR)'] * x['Ratio CHF'], x['EfectiveShippingCost(local)'] / x['Quantity'] * x['Exchange'])),
               'Sell_price_netto(CHF)': lambda x: np.where(x['Currency'] == 'CHF', x['Sell_price_netto(local)'],
                                                            np.where(x['in_GL'] == 1, x['Sell_price_netto(EUR)'] * x['Ratio CHF'], x['Sell_price_netto(local)'] / x['Quantity'] * x['Exchange'])),
               'Shipped_date': lambda x: pd.to_datetime(x['Shipped_date']),
               'Ship_create_date': lambda x: np.where(x['Shipped_date'].notna(), x['Shipped_date'], x['Auftrag_create_date'])})

In [38]:
shiping_join_fact_table_v2x = shiping_join_fact_table_v2x.drop(columns=['Year', 'Month', 'Average_month_EUR', 'Exchange', 'Quantity', 'Currency', 'Auftrag_create_date']).drop_duplicates()

In [39]:
shiping_join_fact_table_v2x

,Main Auction,MAU_Main_Auction,Auftrag_deleted,Order_ID,Article_ID,EfectiveShippingCost(local),PurchasePrice(local),Sell_price_netto(local)_V2_order,Sell_price_netto(local),Shipped_date,...,Unnamed: 6,in_GL,currency,Inbound(EUR),Outbound(EUR),Sell_price_netto(EUR),Inbound(CHF),Outbound(CHF),Sell_price_netto(CHF),Ship_create_date
0,194752519083_1967824646009,194752519083_1967824646009,0,15152983,71,0.00,0.00,0.00,0.00,2022-10-18 08:47:13,...,NaN,0,EUR,0.00,0.00,0.00,NaN,NaN,NaN,2022-10-18 08:47:13
1,194752519083_1967824646009,194752519083_1967824646009,0,15152984,69,0.00,0.00,0.00,0.00,2022-10-18 08:47:13,...,NaN,0,EUR,0.00,0.00,0.00,NaN,NaN,NaN,2022-10-18 08:47:13
2,194753045882_1911794081009,194753045882_1911794081009,0,13031952,4408,9.36,56.75,142.85,142.85,2022-02-03 16:45:54,...,NaN,0,EUR,56.75,9.36,142.85,NaN,NaN,NaN,2022-02-03 16:45:54
3,194753045882_1911794081009,194753045882_1911794081009,0,13031953,70,0.00,0.00,0.00,0.00,2022-02-03 07:57:58,...,NaN,0,EUR,0.00,0.00,0.00,NaN,NaN,NaN,2022-02-03 07:57:58
4,194753045882_1911794081009,194753045882_1911794081009,0,13031954,0,0.00,0.00,0.00,0.00,2022-02-03 07:57:58,...,NaN,0,EUR,0.00,0.00,0.00,NaN,NaN,NaN,2022-02-03 07:57:58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990109,8304310_3,8304310_3,0,14401841,55,0.00,0.00,0.00,0.00,2022-06-14 19:46:31,...,NaN,0,EUR,0.00,0.00,0.00,NaN,NaN,NaN,2022-06-14 19:46:31
990110,8304310_3,8304310_3,0,14401842,80,0.00,0.00,0.00,0.00,2022-06-14 19:46:31,...,NaN,0,EUR,0.00,0.00,0.00,NaN,NaN,NaN,2022-06-14 19:46:31
990111,8304310_3,8304310_3,0,14401843,54,0.00,0.00,0.00,0.00,2022-06-14 19:46:31,...,NaN,0,EUR,0.00,0.00,0.00,NaN,NaN,NaN,2022-06-14 19:46:31
990112,8304310_3,8304310_3,0,14401844,241,0.00,0.00,0.00,0.00,2022-06-14 19:46:31,...,NaN,0,EUR,0.00,0.00,0.00,NaN,NaN,NaN,2022-06-14 19:46:31
990113,8304310_3,8304310_3,0,14401845,53,0.00,0.00,0.00,0.00,2022-06-14 19:46:31,...,NaN,0,EUR,0.00,0.00,0.00,NaN,NaN,NaN,2022-06-14 19:46:31

In [40]:
shiping_join_fact_table_v2

,Main Auction,MAU_Main_Auction,Auftrag_deleted,Order_ID,Article_ID,EfectiveShippingCost(local),PurchasePrice(local),Sell_price_netto(local)_V2_order,Sell_price_netto(local),Shipped_date,...,Shipping_company,Currency,Auftrag_create_date,Inbound(EUR),Outbound(EUR),Sell_price_netto(EUR),Inbound(CHF),Outbound(CHF),Sell_price_netto(CHF),Ship_create_date
0,1_0,1_0,1,7758,0,0.00,0.00,0.84,0.84,2020-07-21,...,NaN,EUR,2010-01-05,0.0,0.0,0.84,0.00,0.0,0.908712,2020-07-21
1,1_0,1_0,1,141830,1061,4.67,16.20,42.02,42.02,2010-01-05,...,NaN,EUR,2010-01-05,NaN,NaN,NaN,NaN,NaN,NaN,2010-01-05
2,1_0,1_0,1,141831,1030,4.67,15.00,0.84,0.84,2010-01-05,...,NaN,EUR,2010-01-05,NaN,NaN,NaN,NaN,NaN,NaN,2010-01-05
3,129549_3,129548_3,0,724723,7752,100.00,363.52,1387.96,1387.96,2014-04-30,...,NaN,CHF,2014-02-10,NaN,NaN,NaN,363.52,100.0,1387.960000,2014-04-30
4,129549_3,129548_3,0,724724,7807,0.00,30.42,0.00,0.00,2014-04-30,...,NaN,CHF,2014-02-10,NaN,NaN,NaN,30.42,0.0,0.000000,2014-04-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9548592,8310287_3,8310287_3,0,15669703,86,0.00,0.00,0.00,0.00,2023-01-03,...,NaN,PLN,2022-06-17,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-03
9548593,8310287_3,8310287_3,0,15669704,83,0.00,0.00,0.00,0.00,2023-01-03,...,NaN,PLN,2022-06-17,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-03
9548594,8310287_3,8310287_3,0,15669705,84,0.00,0.00,0.00,0.00,2023-01-03,...,NaN,PLN,2022-06-17,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-03
9548595,8310287_3,8310287_3,0,15669706,85,0.00,0.00,0.00,0.00,2023-01-03,...,NaN,PLN,2022-06-17,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-03
9548596,8310287_3,8310287_3,0,15669707,1686464,0.00,0.00,0.00,0.00,2023-01-03,...,NaN,PLN,2022-06-17,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-03

In [29]:
# Filter rows in shiping_join DataFrame based on condition
condition = shiping_join['Main Auction'].isin(Auftrag_2022_refresh['Main auction']) | shiping_join['MAU_Main_Auction'].isin(Auftrag_2022_refresh['Main auction'])
shiping_join_fact_table_v2 = shiping_join.loc[condition]

shiping_join_fact_table_v2

Empty DataFrame
Columns: [Main Auction, MAU_Main_Auction, Auftrag_deleted, Order_ID, Article_ID, EfectiveShippingCost(local), PurchasePrice(local), Sell_price_netto(local)_V2_order, Sell_price_netto(local), Shipped_date, Order_not_sent, shipping_Company, MAU Main Auction, Order_id, Container_number, Shipping_line, shipping_company_name, Shipping_company]
Index: []

In [ ]:
# Mutate the MAU_Main_Auction column in shiping_join_fact_table_v2 DataFrame
shiping_join_fact_table_v2['MAU_Main_Auction'] = np.where(shiping_join_fact_table_v2['MAU_Main_Auction'].str.len() > 15, shiping_join_fact_table_v2['Main Auction'], shiping_join_fact_table_v2['MAU_Main_Auction'])

shiping_join_fact_table_v2

In [ ]:
# Join Auftrag_2022_refresh DataFrame and select required columns
auftrag_cols = ['Main auction', 'Currency', 'Auftrag_create_date']
auftrag_2022_refresh_selected = Auftrag_2022_refresh[auftrag_cols]

shiping_join_fact_table_v2

In [ ]:
# Join auftrag_2022_refresh_selected DataFrame with shiping_join_fact_table_v2 DataFrame
shiping_join_fact_table_v2 = pd.merge(shiping_join_fact_table_v2, auftrag_2022_refresh_selected, left_on='MAU_Main_Auction', right_on='Main auction', how='left')

shiping_join_fact_table_v2

In [ ]:
# Add new columns Year and Month to shiping_join_fact_table_v2 DataFrame using datetime module
shiping_join_fact_table_v2['Shipped_date'] = pd.to_datetime(shiping_join_fact_table_v2['Shipped_date'])
shiping_join_fact_table_v2['Year'] = shiping_join_fact_table_v2['Shipped_date'].dt.year
shiping_join_fact_table_v2['Month'] = shiping_join_fact_table_v2['Shipped_date'].dt.month

shiping_join_fact_table_v2

In [ ]:
# Add new columns Year and Month to shiping_join_fact_table_v2 DataFrame using datetime module
shiping_join_fact_table_v2['Shipped_date'] = pd.to_datetime(shiping_join_fact_table_v2['Shipped_date'])
shiping_join_fact_table_v2['Year'] = shiping_join_fact_table_v2['Shipped_date'].dt.year
shiping_join_fact_table_v2['Month'] = shiping_join_fact_table_v2['Shipped_date'].dt.month


shiping_join_fact_table_v2

In [ ]:
# Join Curr_rate_website DataFrame with shiping_join_fact_table_v2 DataFrame
shiping_join_fact_table_v2 = pd.merge(shiping_join_fact_table_v2, Curr_rate_website, on=['Currency', 'Month', 'Year'], how='left')

shiping_join_fact_table_v2

In [ ]:
# Join GL_values_c DataFrame with shiping_join_fact_table_v2 DataFrame
shiping_join_fact_table_v2 = pd.merge(shiping_join_fact_table_v2, GL_values_c, left_on='MAU_Main_Auction', right_on='Row.Labels', how='left')

shiping_join_fact_table_v2

In [ ]:
# Mutate in_GL column in shiping_join_fact_table_v2 DataFrame
shiping_join_fact_table_v2['in_GL'] = np.where(shiping_join_fact_table_v2['MAU_Main_Auction'].isin(GL_values_c['Row.Labels']), 1, 0)

shiping_join_fact_table_v2

In [ ]:
# Join Curr_rate_EUR DataFrame with shiping_join_fact_table_v2 DataFrame
shiping_join_fact_table_v2 = pd.merge(shiping_join_fact_table_v2, Curr_rate_EUR, left_on=['Currency', 'Month', 'Year'], right_on=['currency', 'Month', 'Year'], how='left')

shiping_join_fact_table_v2

In [ ]:
shiping_join_fact_table_v2['Inbound(EUR)'] = shiping_join_fact_table_v2['PurchasePrice(local)'] * shiping_join_fact_table_v2['Average_month_EUR']
shiping_join_fact_table_v2['Outbound(EUR)'] = shiping_join_fact_table_v2['EfectiveShippingCost(local)'] * shiping_join_fact_table_v2['Average_month_EUR']
shiping_join_fact_table_v2['Sell_price_netto(EUR)'] = shiping_join_fact_table_v2['Sell_price_netto(local)'] * shiping_join_fact_table_v2['Average_month_EUR']

shiping_join_fact_table_v2

In [46]:
shiping_join_fact_table_v2 = shiping_join_fact_table_v2.assign(
    Inbound_EUR = shiping_join_fact_table_v2['PurchasePrice(local)'] * shiping_join_fact_table_v2['Average_month_EUR'],
    Outbound_EUR = shiping_join_fact_table_v2['EfectiveShippingCost(local)'] * shiping_join_fact_table_v2['Average_month_EUR'],
    Sell_price_netto_EUR = shiping_join_fact_table_v2['Sell_price_netto(local)'] * shiping_join_fact_table_v2['Average_month_EUR']
).assign(
    Inbound_CHF = np.where(shiping_join_fact_table_v2['Currency'] == 'CHF', shiping_join_fact_table_v2['PurchasePrice(local)'],
        np.where(shiping_join_fact_table_v2['in_GL'] == 1, shiping_join_fact_table_v2['Inbound(EUR)'] * shiping_join_fact_table_v2['Ratio CHF'], shiping_join_fact_table_v2['PurchasePrice(local)'] / shiping_join_fact_table_v2['Quantity'] * shiping_join_fact_table_v2['Exchange'])),
    Outbound_CHF = np.where(shiping_join_fact_table_v2['Currency'] == 'CHF', shiping_join_fact_table_v2['EfectiveShippingCost(local)'],
        np.where(shiping_join_fact_table_v2['in_GL'] == 1, shiping_join_fact_table_v2['Outbound(EUR)'] * shiping_join_fact_table_v2['Ratio CHF'], shiping_join_fact_table_v2['EfectiveShippingCost(local)'] / shiping_join_fact_table_v2['Quantity'] * shiping_join_fact_table_v2['Exchange'])),
    Sell_price_netto_CHF = np.where(shiping_join_fact_table_v2['Currency'] == 'CHF', shiping_join_fact_table_v2['Sell_price_netto(local)'],
        np.where(shiping_join_fact_table_v2['in_GL'] == 1, shiping_join_fact_table_v2['Sell_price_netto(EUR)'] * shiping_join_fact_table_v2['Ratio CHF'], shiping_join_fact_table_v2['Sell_price_netto(local)'] / shiping_join_fact_table_v2['Quantity'] * shiping_join_fact_table_v2['Exchange']))
)

shiping_join_fact_table_v2

In [48]:
shiping_join_fact_table_v2

Empty DataFrame
Columns: [Main Auction, MAU_Main_Auction, Auftrag_deleted, Order_ID, Article_ID, EfectiveShippingCost(local), PurchasePrice(local), Sell_price_netto(local)_V2_order, Sell_price_netto(local), Shipped_date, Order_not_sent, shipping_Company, MAU Main Auction, Order_id, Container_number, Shipping_line, shipping_company_name, Shipping_company, Main auction, Auftrag_create_date, Quantity, Currency, Exchange, Row.Labels, Ratio CHF, STEUERFREIE_EXP_Formula, STEUERFREIE OR EXPORT, Unnamed: 4, STE OR EXPORT, Unnamed: 6, in_GL, currency, Average_month_EUR, Month, Year, Inbound(EUR), Outbound(EUR), Sell_price_netto(EUR), Inbound_EUR, Outbound_EUR, Sell_price_netto_EUR, Inbound_CHF, Outbound_CHF, Sell_price_netto_CHF, Ship_create_date]
Index: []

[0 rows x 45 columns]

In [47]:
shiping_join_fact_table_v2 = shiping_join_fact_table_v2.assign(Inbound_EUR=shiping_join_fact_table_v2['PurchasePrice(local)'] * shiping_join_fact_table_v2['Average_month_EUR'],
               Outbound_EUR=shiping_join_fact_table_v2['EfectiveShippingCost(local)'] * shiping_join_fact_table_v2['Average_month_EUR'],
               Sell_price_netto_EUR=shiping_join_fact_table_v2['Sell_price_netto(local)'] * shiping_join_fact_table_v2['Average_month_EUR'])

shiping_join_fact_table_v2 = shiping_join_fact_table_v2.assign(Inbound_CHF=np.where(shiping_join_fact_table_v2['Currency']=='CHF', shiping_join_fact_table_v2['PurchasePrice(local)'],
                                    np.where(shiping_join_fact_table_v2['in_GL']==1, shiping_join_fact_table_v2['Inbound_EUR']*shiping_join_fact_table_v2['Ratio CHF'],
                                             shiping_join_fact_table_v2['PurchasePrice(local)']/shiping_join_fact_table_v2['Quantity']*shiping_join_fact_table_v2['Exchange'])),
               Outbound_CHF=np.where(shiping_join_fact_table_v2['Currency']=='CHF', shiping_join_fact_table_v2['EfectiveShippingCost(local)'],
                                     np.where(shiping_join_fact_table_v2['in_GL']==1, shiping_join_fact_table_v2['Outbound_EUR']*shiping_join_fact_table_v2['Ratio CHF'],
                                              shiping_join_fact_table_v2['EfectiveShippingCost(local)']/shiping_join_fact_table_v2['Quantity']*shiping_join_fact_table_v2['Exchange'])),
               Sell_price_netto_CHF=np.where(shiping_join_fact_table_v2['Currency']=='CHF', shiping_join_fact_table_v2['Sell_price_netto(local)'],
                                             np.where(shiping_join_fact_table_v2['in_GL']==1, shiping_join_fact_table_v2['Sell_price_netto_EUR']*shiping_join_fact_table_v2['Ratio CHF'],
                                                      shiping_join_fact_table_v2['Sell_price_netto(local)']/shiping_join_fact_table_v2['Quantity']*shiping_join_fact_table_v2['Exchange'])))

shiping_join_fact_table_v2['Shipped_date'] = pd.to_datetime(shiping_join_fact_table_v2['Shipped_date'])
shiping_join_fact_table_v2['Ship_create_date'] = np.where(shiping_join_fact_table_v2['Shipped_date'].notna(), shiping_join_fact_table_v2['Shipped_date'], shiping_join_fact_table_v2['Auftrag_create_date'])

shiping_join_fact_table_v2 = shiping_join_fact_table_v2.drop(columns=['Year', 'Month', 'Country', 'Currency', 'Quantity', 'Exchange', 'Average_month_EUR', 'Auftrag_create_date'])

shiping_join_fact_table_v2 = shiping_join_fact_table_v2.drop_duplicates()

KeyError: "['Country'] not found in axis"

In [33]:
if not os.path.exists(save_directory):
    os.makedirs(save_directory)

All_ticket_payment.to_csv(save_directory + '/All_ticket_payment.csv', index=False, encoding='utf-8')
All_auftrag.to_csv(save_directory + '/All_auftrag.csv', index=False, encoding='utf-8')
shiping_join.to_csv(save_directory + '/shiping_join.csv', index=False, encoding='utf-8')
shiping_join_fact_table_v2.to_csv(save_directory + '/shiping_join_fact_table.csv', index=False, encoding='utf-8')

In [ ]:
#"missing" part of the script to be added