In [26]:
import pandas as pd
import os

In [27]:
file_dir = 'C:/Users/User/Desktop/Moje dokumenty/Raporty obce/Kacper/63_issue_158946_payments/Excel/2022/'

In [46]:
Beliani_ch = pd.read_excel(file_dir + 'Beliani Switzerland.xlsx', sheet_name='union')

In [49]:
Beliani_ch_auctions = Beliani_ch[Beliani_ch['Text'].str.contains('Auction', na=False)]
Beliani_ch_auctions

,Datum,Blg,Unnamed: 2,Text,G-Konto,Unnamed: 5,Unnamed: 6,Soll,Haben,Saldo,Kurs,Unnamed: 11,Unnamed: 12,Saldo LW
3,01.01.2022,734.0,NaN,Auction 7894660,1011.0,NaN,NaN,NaN,362.09,362.09,NaN,NaN,NaN,NaN
4,01.01.2022,808.0,NaN,Auction 7894696,1011.0,NaN,NaN,NaN,204.24,566.33,NaN,NaN,NaN,NaN
5,01.01.2022,841.0,NaN,Auction 7894703,1011.0,NaN,NaN,NaN,947.07,1513.40,NaN,NaN,NaN,NaN
6,01.01.2022,953.0,NaN,Auction 7894752,1011.0,NaN,NaN,NaN,269.26,1782.66,NaN,NaN,NaN,NaN
7,01.01.2022,1059.0,NaN,Auction 7894800,1011.0,NaN,NaN,NaN,1337.04,3119.70,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58147,31.12.2022,56029.0,NaN,Auction 8756731,1273.0,NaN,NaN,NaN,204.25,16749676.39,NaN,NaN,NaN,NaN
58148,31.12.2022,56030.0,NaN,Auction 8756839,1273.0,NaN,NaN,NaN,232.12,16749908.51,NaN,NaN,NaN,NaN
58149,31.12.2022,56031.0,NaN,Auction 8756913,1273.0,NaN,NaN,NaN,129.98,16750038.49,NaN,NaN,NaN,NaN
58150,31.12.2022,56032.0,NaN,Auction 8757143,1273.0,NaN,NaN,NaN,306.40,16750344.89,NaN,NaN,NaN,NaN
58151,31.12.2022,56033.0,NaN,Auction 8757273,1273.0,NaN,NaN,NaN,148.55,16750493.44,NaN,NaN,NaN,NaN

In [31]:
Beliani_ch_tickets

,Datum,Blg,Unnamed: 2,Text,G-Konto,Unnamed: 5,Unnamed: 6,Soll,Haben,Saldo,Kurs,Unnamed: 11,Unnamed: 12,Saldo LW
313,03.01.2022,4667.0,NaN,Ticket 247860,1034.0,NaN,NaN,23.20,NaN,98258.86,NaN,NaN,NaN,NaN
2875,19.01.2022,4672.0,NaN,Ticket 251199,1403.0,NaN,NaN,4695.90,NaN,732514.37,NaN,NaN,NaN,NaN
4871,31.01.2022,4666.0,NaN,Ticket 250625,1273.0,NaN,NaN,26.95,NaN,1309966.82,NaN,NaN,NaN,NaN
4876,31.01.2022,4697.0,NaN,Ticket 248787,1034.0,NaN,NaN,222.84,NaN,1309316.88,NaN,NaN,NaN,NaN
4877,31.01.2022,4698.0,NaN,Ticket 249213,1034.0,NaN,NaN,139.29,NaN,1309177.59,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54663,06.12.2022,56304.0,NaN,Ticket 214582,1066.0,NaN,NaN,NaN,-46.45,15974161.28,NaN,NaN,NaN,NaN
56206,15.12.2022,56307.0,NaN,Ticket unbekannt,1053.0,NaN,NaN,607.69,NaN,16290397.99,NaN,NaN,NaN,NaN
56361,16.12.2022,56305.0,NaN,Ticket 294372,1066.0,NaN,NaN,NaN,-150.57,16322515.45,NaN,NaN,NaN,NaN
56362,16.12.2022,56306.0,NaN,Ticket 300418,1066.0,NaN,NaN,NaN,-158.93,16322356.52,NaN,NaN,NaN,NaN
58154,31.12.2022,56321.0,NaN,Ticket 268562 booking,1011.0,NaN,NaN,NaN,278.55,16750869.49,NaN,NaN,NaN,NaN

In [35]:
Beliani_ch_tickets.to_csv(file_dir + 'Beliani_ch_tickets.csv', index=False, encoding='utf-8')

In [33]:
Beliani_ch_tickets[['ticket', 'number']] = Beliani_ch_tickets['Text'].str.split(' ', 1, expand=True)
Beliani_ch_tickets

C:\Users\User\AppData\Local\Temp\ipykernel_10328\1334146630.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  Beliani_ch_tickets[['ticket', 'number']] = Beliani_ch_tickets['Text'].str.split(' ', 1, expand=True)
C:\Users\User\AppData\Local\Temp\ipykernel_10328\1334146630.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Beliani_ch_tickets[['ticket', 'number']] = Beliani_ch_tickets['Text'].str.split(' ', 1, expand=True)
C:\Users\User\AppData\Local\Temp\ipykernel_10328\1334146630.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Beliani_ch_tickets[['ticket', 'number']] = Beliani_ch_tickets['Text'].str.split(' ', 1, expand=True)

,Datum,Blg,Unnamed: 2,Text,G-Konto,Unnamed: 5,Unnamed: 6,Soll,Haben,Saldo,Kurs,Unnamed: 11,Unnamed: 12,Saldo LW,ticket,number
313,03.01.2022,4667.0,NaN,Ticket 247860,1034.0,NaN,NaN,23.20,NaN,98258.86,NaN,NaN,NaN,NaN,Ticket,247860
2875,19.01.2022,4672.0,NaN,Ticket 251199,1403.0,NaN,NaN,4695.90,NaN,732514.37,NaN,NaN,NaN,NaN,Ticket,251199
4871,31.01.2022,4666.0,NaN,Ticket 250625,1273.0,NaN,NaN,26.95,NaN,1309966.82,NaN,NaN,NaN,NaN,Ticket,250625
4876,31.01.2022,4697.0,NaN,Ticket 248787,1034.0,NaN,NaN,222.84,NaN,1309316.88,NaN,NaN,NaN,NaN,Ticket,248787
4877,31.01.2022,4698.0,NaN,Ticket 249213,1034.0,NaN,NaN,139.29,NaN,1309177.59,NaN,NaN,NaN,NaN,Ticket,249213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54663,06.12.2022,56304.0,NaN,Ticket 214582,1066.0,NaN,NaN,NaN,-46.45,15974161.28,NaN,NaN,NaN,NaN,Ticket,214582
56206,15.12.2022,56307.0,NaN,Ticket unbekannt,1053.0,NaN,NaN,607.69,NaN,16290397.99,NaN,NaN,NaN,NaN,Ticket,unbekannt
56361,16.12.2022,56305.0,NaN,Ticket 294372,1066.0,NaN,NaN,NaN,-150.57,16322515.45,NaN,NaN,NaN,NaN,Ticket,294372
56362,16.12.2022,56306.0,NaN,Ticket 300418,1066.0,NaN,NaN,NaN,-158.93,16322356.52,NaN,NaN,NaN,NaN,Ticket,300418
58154,31.12.2022,56321.0,NaN,Ticket 268562 booking,1011.0,NaN,NaN,NaN,278.55,16750869.49,NaN,NaN,NaN,NaN,Ticket,268562 booking

In [37]:
Beliani_ch_tickets = pd.read_csv(file_dir + 'Beliani_ch_tickets.csv')
Beliani_ch_tickets['number'] = Beliani_ch_tickets['number'].astype(str)
Beliani_ch_tickets['number'] = Beliani_ch_tickets['number'].astype(str).replace(r'\.0', '', regex=True)
Beliani_ch_tickets

,Datum,Blg,Unnamed: 2,Text,G-Konto,Unnamed: 5,Unnamed: 6,Soll,Haben,Saldo,Kurs,Unnamed: 11,Unnamed: 12,Saldo LW,ticket,number
0,03.01.2022,4667,NaN,Ticket 247860,1034,NaN,NaN,23.20,NaN,98258.86,NaN,NaN,NaN,NaN,Ticket,247860
1,19.01.2022,4672,NaN,Ticket 251199,1403,NaN,NaN,4695.90,NaN,732514.37,NaN,NaN,NaN,NaN,Ticket,251199
2,31.01.2022,4666,NaN,Ticket 250625,1273,NaN,NaN,26.95,NaN,1309966.82,NaN,NaN,NaN,NaN,Ticket,250625
3,31.01.2022,4697,NaN,Ticket 248787,1034,NaN,NaN,222.84,NaN,1309316.88,NaN,NaN,NaN,NaN,Ticket,248787
4,31.01.2022,4698,NaN,Ticket 249213,1034,NaN,NaN,139.29,NaN,1309177.59,NaN,NaN,NaN,NaN,Ticket,249213
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,06.12.2022,56304,NaN,Ticket 214582,1066,NaN,NaN,NaN,-46.45,15974161.28,NaN,NaN,NaN,NaN,Ticket,214582
141,15.12.2022,56307,NaN,Ticket unbekannt,1053,NaN,NaN,607.69,NaN,16290397.99,NaN,NaN,NaN,NaN,Ticket,nan
142,16.12.2022,56305,NaN,Ticket 294372,1066,NaN,NaN,NaN,-150.57,16322515.45,NaN,NaN,NaN,NaN,Ticket,294372
143,16.12.2022,56306,NaN,Ticket 300418,1066,NaN,NaN,NaN,-158.93,16322356.52,NaN,NaN,NaN,NaN,Ticket,300418
144,31.12.2022,56321,NaN,Ticket 268562 booking,1011,NaN,NaN,NaN,278.55,16750869.49,NaN,NaN,NaN,NaN,Ticket,268562

In [39]:
Beliani_ch_tickets_au = pd.read_excel(file_dir + 'Beliani_ch_tickets_auctions.xlsx')
Beliani_ch_tickets_au

     ticket  auction  txnid
0    124990  5710785      3
1    150455  6154604      3
2    150601  5961155      3
3    191810  6789843      3
4    210914  7124396      3
..      ...      ...    ...
133  301080  8576675      3
134  301620  8584420      3
135  301805  8578621      3
136  301812  8591450      3
137  302651  8606278      3

[138 rows x 3 columns]

In [43]:
Beliani_ch_tickets_au['number'] = Beliani_ch_tickets_au['number'].astype(str)

In [44]:
merged_df = pd.merge(Beliani_ch_tickets_au, Beliani_ch_tickets, on='number')
merged_df

,number,auction,txnid,Datum,Blg,Unnamed: 2,Text,G-Konto,Unnamed: 5,Unnamed: 6,Soll,Haben,Saldo,Kurs,Unnamed: 11,Unnamed: 12,Saldo LW,ticket
0,124990,5710785,3,28.10.2022,46095,NaN,Ticket 124990,1066,NaN,NaN,111.53,NaN,14031797.85,NaN,NaN,NaN,NaN,Ticket
1,150455,6154604,3,28.10.2022,46097,NaN,Ticket 150455,1066,NaN,NaN,200.77,NaN,14031359.11,NaN,NaN,NaN,NaN,Ticket
2,150601,5961155,3,28.10.2022,46098,NaN,Ticket 150601,1066,NaN,NaN,190.20,NaN,14031168.91,NaN,NaN,NaN,NaN,Ticket
3,191810,6789843,3,30.04.2022,20205,NaN,Ticket 191810,1068,NaN,NaN,347.25,NaN,6533782.73,NaN,NaN,NaN,NaN,Ticket
4,210914,7124396,3,06.05.2022,24934,NaN,Ticket 210914,1066,NaN,NaN,100.35,NaN,6953393.02,NaN,NaN,NaN,NaN,Ticket
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,301080,8576675,3,02.12.2022,56316,NaN,Ticket 301080,1034,NaN,NaN,111.39,NaN,15802239.19,NaN,NaN,NaN,NaN,Ticket
136,301620,8584420,3,02.12.2022,56313,NaN,Ticket 301620,1034,NaN,NaN,185.67,NaN,15802452.71,NaN,NaN,NaN,NaN,Ticket
137,301805,8578621,3,02.12.2022,56311,NaN,Ticket 301805,1034,NaN,NaN,27.84,NaN,15802759.07,NaN,NaN,NaN,NaN,Ticket
138,301812,8591450,3,02.12.2022,56314,NaN,Ticket 301812,1034,NaN,NaN,37.14,NaN,15802415.57,NaN,NaN,NaN,NaN,Ticket
139,302651,8606278,3,02.12.2022,56312,NaN,Ticket 302651,1034,NaN,NaN,120.69,NaN,15802638.38,NaN,NaN,NaN,NaN,Ticket

In [50]:
Beliani_ch_auctions[['ticket', 'auction']] = Beliani_ch_auctions['Text'].str.split(' ', 1, expand=True)
Beliani_ch_auctions

C:\Users\User\AppData\Local\Temp\ipykernel_10328\3281295613.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  Beliani_ch_auctions[['ticket', 'auction']] = Beliani_ch_auctions['Text'].str.split(' ', 1, expand=True)
C:\Users\User\AppData\Local\Temp\ipykernel_10328\3281295613.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Beliani_ch_auctions[['ticket', 'auction']] = Beliani_ch_auctions['Text'].str.split(' ', 1, expand=True)
C:\Users\User\AppData\Local\Temp\ipykernel_10328\3281295613.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Beliani_ch_auctions[['ticket', 'auction']] = Beliani_ch_auctions['Text'].str.split(' ', 1, expand=True)

,Datum,Blg,Unnamed: 2,Text,G-Konto,Unnamed: 5,Unnamed: 6,Soll,Haben,Saldo,Kurs,Unnamed: 11,Unnamed: 12,Saldo LW,ticket,auction
3,01.01.2022,734.0,NaN,Auction 7894660,1011.0,NaN,NaN,NaN,362.09,362.09,NaN,NaN,NaN,NaN,Auction,7894660
4,01.01.2022,808.0,NaN,Auction 7894696,1011.0,NaN,NaN,NaN,204.24,566.33,NaN,NaN,NaN,NaN,Auction,7894696
5,01.01.2022,841.0,NaN,Auction 7894703,1011.0,NaN,NaN,NaN,947.07,1513.40,NaN,NaN,NaN,NaN,Auction,7894703
6,01.01.2022,953.0,NaN,Auction 7894752,1011.0,NaN,NaN,NaN,269.26,1782.66,NaN,NaN,NaN,NaN,Auction,7894752
7,01.01.2022,1059.0,NaN,Auction 7894800,1011.0,NaN,NaN,NaN,1337.04,3119.70,NaN,NaN,NaN,NaN,Auction,7894800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58147,31.12.2022,56029.0,NaN,Auction 8756731,1273.0,NaN,NaN,NaN,204.25,16749676.39,NaN,NaN,NaN,NaN,Auction,8756731
58148,31.12.2022,56030.0,NaN,Auction 8756839,1273.0,NaN,NaN,NaN,232.12,16749908.51,NaN,NaN,NaN,NaN,Auction,8756839
58149,31.12.2022,56031.0,NaN,Auction 8756913,1273.0,NaN,NaN,NaN,129.98,16750038.49,NaN,NaN,NaN,NaN,Auction,8756913
58150,31.12.2022,56032.0,NaN,Auction 8757143,1273.0,NaN,NaN,NaN,306.40,16750344.89,NaN,NaN,NaN,NaN,Auction,8757143
58151,31.12.2022,56033.0,NaN,Auction 8757273,1273.0,NaN,NaN,NaN,148.55,16750493.44,NaN,NaN,NaN,NaN,Auction,8757273

In [51]:
union_df = pd.concat([merged_df, Beliani_ch_auctions])
union_df

,number,auction,txnid,Datum,Blg,Unnamed: 2,Text,G-Konto,Unnamed: 5,Unnamed: 6,Soll,Haben,Saldo,Kurs,Unnamed: 11,Unnamed: 12,Saldo LW,ticket
0,124990,5710785,3.0,28.10.2022,46095.0,NaN,Ticket 124990,1066.0,NaN,NaN,111.53,NaN,14031797.85,NaN,NaN,NaN,NaN,Ticket
1,150455,6154604,3.0,28.10.2022,46097.0,NaN,Ticket 150455,1066.0,NaN,NaN,200.77,NaN,14031359.11,NaN,NaN,NaN,NaN,Ticket
2,150601,5961155,3.0,28.10.2022,46098.0,NaN,Ticket 150601,1066.0,NaN,NaN,190.20,NaN,14031168.91,NaN,NaN,NaN,NaN,Ticket
3,191810,6789843,3.0,30.04.2022,20205.0,NaN,Ticket 191810,1068.0,NaN,NaN,347.25,NaN,6533782.73,NaN,NaN,NaN,NaN,Ticket
4,210914,7124396,3.0,06.05.2022,24934.0,NaN,Ticket 210914,1066.0,NaN,NaN,100.35,NaN,6953393.02,NaN,NaN,NaN,NaN,Ticket
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58147,NaN,8756731,NaN,31.12.2022,56029.0,NaN,Auction 8756731,1273.0,NaN,NaN,NaN,204.25,16749676.39,NaN,NaN,NaN,NaN,Auction
58148,NaN,8756839,NaN,31.12.2022,56030.0,NaN,Auction 8756839,1273.0,NaN,NaN,NaN,232.12,16749908.51,NaN,NaN,NaN,NaN,Auction
58149,NaN,8756913,NaN,31.12.2022,56031.0,NaN,Auction 8756913,1273.0,NaN,NaN,NaN,129.98,16750038.49,NaN,NaN,NaN,NaN,Auction
58150,NaN,8757143,NaN,31.12.2022,56032.0,NaN,Auction 8757143,1273.0,NaN,NaN,NaN,306.40,16750344.89,NaN,NaN,NaN,NaN,Auction
58151,NaN,8757273,NaN,31.12.2022,56033.0,NaN,Auction 8757273,1273.0,NaN,NaN,NaN,148.55,16750493.44,NaN,NaN,NaN,NaN,Auction

In [52]:
FACT_all_transactions = pd.read_csv('C:/Users/User/Desktop/Moje dokumenty/Raporty obce/Kacper/63_issue_158946_payments/PowerBI/joined/FACT_all_transactions.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_10328\3173070755.py:1: DtypeWarning: Columns (2,14) have mixed types. Specify dtype option on import or set low_memory=False.
  FACT_all_transactions = pd.read_csv('C:/Users/User/Desktop/Moje dokumenty/Raporty obce/Kacper/63_issue_158946_payments/PowerBI/joined/FACT_all_transactions.csv')

In [53]:
DIM_all_auction = pd.read_csv('C:/Users/User/Desktop/Moje dokumenty/Raporty obce/Kacper/63_issue_158946_payments/PowerBI/05.23/DIM_all_auction.csv' )

In [56]:
merged_power_bi = pd.merge(DIM_all_auction, FACT_all_transactions, on='Main auction')

In [61]:
merged_power_bi['Transaction_Date'] = pd.to_datetime(merged_power_bi['Transaction_Date'])

In [65]:
merged_power_bi= merged_power_bi[(merged_power_bi['Transaction_Date'] >= pd.Timestamp('2022-01-01')) & (merged_power_bi['Transaction_Date'] < pd.Timestamp('2023-01-01')) ]
merged_power_bi

,Auction number,Txnid,Main auction,Seller,Sellers country,Customer ID,Company,Currency,MAU_Main auction,deleted,...,Month_y,Amount_netto(CHF),Ticket_link,Amount_netto(EUR),in_GL,Amount_netto(CHF)_web,Shipped_date_y,Selling_account,Ship_create_date,First_Payment
4105,554517,2,554517_2,BCE,DE,2014484.0,Broken items,EUR,554517_2,0,...,4,5929.5876,NaN,5727.4100,0,5929.5876,2021-03-24,3273.0,2021-03-24,2021-12-02
4106,554517,2,554517_2,BCE,DE,2014484.0,Broken items,EUR,554517_2,0,...,5,7224.7000,NaN,7000.0000,0,7224.7000,2021-03-24,3273.0,2021-03-24,2021-12-02
4107,554517,2,554517_2,BCE,DE,2014484.0,Broken items,EUR,554517_2,0,...,8,1800.4230,NaN,NaN,0,1800.4230,2021-03-24,3273.0,2021-03-24,2021-12-02
4131,555282,2,555282_2,BCE,DE,2014484.0,Broken items,EUR,555282_2,0,...,8,4627.5464,NaN,4609.1100,0,4627.5464,2022-08-30,3273.0,2022-08-30,2022-08-02
4137,555423,2,555423_2,BCE,DE,2014484.0,Broken items,EUR,555423_2,0,...,4,1317.5124,NaN,1272.5900,0,1317.5124,2022-05-27,3273.0,2022-05-27,2022-04-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1579658,234554670163,2023580650013,234554670163_2023580650013,Design_UK,GB,2993092.0,Beliani UK,GBP,234554670163_2023580650013,1,...,7,423.6041,NaN,440.8448,0,423.6041,2022-06-30,3203.0,2022-06-30,2022-07-05
1579659,234559874692,2022793762013,234559874692_2022793762013,Design_UK,GB,2987660.0,Beliani UK,GBP,234559874692_2022793762013,1,...,7,48.1332,NaN,50.0923,0,48.1332,2022-06-27,3203.0,2022-06-27,2022-07-05
1579660,234559874692,2022793762013,234559874692_2022793762013,Design_UK,GB,2987660.0,Beliani UK,GBP,234559874692_2022793762013,1,...,7,-48.1332,NaN,-50.0923,0,-48.1332,2022-06-27,3203.0,2022-06-27,2022-07-05
1579661,373275588428,1420969375024,373275588428_1420969375024,schoenteakmoebel,DE,3127722.0,Beliani DE,EUR,373275588428_1420969375024,1,...,10,26.1978,NaN,26.8200,0,26.1978,2022-10-13,3283.0,2022-10-13,2022-10-04
1579662,373275588428,1420969375024,373275588428_1420969375024,schoenteakmoebel,DE,3127722.0,Beliani DE,EUR,373275588428_1420969375024,1,...,11,-26.2648,NaN,-26.8200,0,-26.2648,2022-10-13,3283.0,2022-10-13,2022-10-04

In [67]:
merged_power_bi_CH = merged_power_bi[merged_power_bi['Company'].str.contains('Beliani CH', na=False)]

In [74]:
columns_to_drop = ['Year_y', 'Shipped_date_y', 'Amount_netto(CHF)_web', 'First_Payment']
merged_power_bi_CH.drop(columns_to_drop, axis=1, inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_10328\415016295.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_power_bi_CH.drop(columns_to_drop, axis=1, inplace=True)

In [75]:
merged_power_bi_CH

,Auction number,Txnid,Main auction,Company,Currency,deleted,open_amount,open_amount_CHF,Open_amount_netto,open_amount_CHF_netto,...,Payment_id/Ticket_id,Account,Create_date,Transaction_Date,Amount_Brutto(local),Amount_Netto(local),Vat_percent,Amount_netto(CHF),Selling_account,Ship_create_date
72510,6131177,3,6131177_3,Beliani CH,CHF,0,0.0,0.00,0.00,0.00,...,1820838,1065,2020-06-08,2022-02-08,-319.98,-297.10,7.7,-297.10,3200.0,2020-08-06
72512,6131177,3,6131177_3,Beliani CH,CHF,0,0.0,0.00,0.00,0.00,...,1817307,1074,2020-06-08,2022-01-26,319.98,297.10,7.7,297.10,3200.0,2020-08-06
447549,6157871,3,6157871_3,Beliani CH,CHF,0,0.0,0.00,0.00,0.00,...,266841,1065,2022-03-19,2022-07-28,-500.00,-464.00,7.7,-464.00,3200.0,2020-06-30
456298,5505091,3,5505091_3,Beliani CH,CHF,0,0.0,0.00,0.00,0.00,...,1943804,1065,2019-10-19,2022-05-16,-110.00,-102.14,7.7,-102.14,3200.0,2019-10-30
456299,5505091,3,5505091_3,Beliani CH,CHF,0,0.0,0.00,0.00,0.00,...,1942212,1065,2019-10-19,2022-05-16,110.00,102.14,7.7,102.14,3200.0,2019-10-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1579630,8619867,3,8619867_3,Beliani CH,CHF,1,0.0,-35.15,-32.44,-32.44,...,2143441,1038,2022-11-09,2022-11-23,35.15,32.64,7.7,32.64,3200.0,2022-11-09
1579631,8619867,3,8619867_3,Beliani CH,CHF,1,0.0,-35.15,-32.44,-32.44,...,307080,1038,2022-12-13,2022-12-14,-35.15,-33.00,7.7,-33.00,3200.0,2022-11-09
1579635,8655081,3,8655081_3,Beliani CH,CHF,1,0.0,-209.97,-193.80,-193.80,...,2132601,1011,2022-11-21,2022-11-21,209.97,194.96,7.7,194.96,3200.0,2022-11-21
1579637,8685983,3,8685983_3,Beliani CH,CHF,1,0.0,-135.86,-125.40,-125.40,...,2170655,1038,2022-11-29,2022-12-13,135.86,126.15,7.7,126.15,3200.0,2022-11-29
1579642,8745386,3,8745386_3,Beliani CH,CHF,1,0.0,179.98,166.12,166.12,...,2186261,1402,2022-12-24,2022-12-24,-89.99,-83.56,7.7,-83.56,3200.0,2022-12-24

In [76]:
merged_power_bi_CH.to_csv(file_dir + 'merged_power_bi_CH.csv', index=False, encoding='utf-8')